<!DOCTYPE html>
<html lang="en">

<body>
  <%- include('partials/index') %>
    <div class="main">

    <img class="book" src="/images/book.png">


    <div class="feature" >


      <table class="table">
        <thead>
          <tr class="table-head">
            <th scope="col">Title</th>
            <th scope="col">Link</th>
            <th scope="col">Description</th>
            <th scope="col">Added by</th>

          </tr>
        </thead>
        <tbody>
          <% for(let resource in resources) { %>
            <tr class="table-row">
              <td><%= resources[resource].title %></td>
              <td><a href ="<%= resources[resource].url %>"><%=resources[resource].url %></a></td>
              <td><%= resources[resource].description %></td>
              <td><%= resources[resource].user %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  </body>
</html>
