<!DOCTYPE html>
<html lang="en">

<body>
  <%- include('partials/index') %>
    <div class="resource">
    <img class="paper" src="/images/paper.png">

    <div class="feature">

      <table class="table">
        <thead>
          <tr class="table-head">
            <th scope="col">Title</th>
            <th scope="col">URL</th>
            <th scope="col">Description</th>
            <th scope="col">Added By</th>


          </tr>
        </thead>
        <tbody>
          <% for(let resource in resources) { %>
          <tr class="table-row">
            <td><%= resources[resource].title %></td>
            <td><a href="<%= resources[resource].url %>"><%=resources[resource].url %></a></td>
            <td><%= resources[resource].description %></td>
            <td><%= resources[resource].user %></td>
          </tr>
          <% } %>
      </table>
    </div>
    <form method="POST">
      <div class="likes">
        <button type="submit">Like</button>
    </form>

  </div>
  <form method="POST">
    <div class="rating">
      <button type="submit">Leave Rating</button>
  </form>
  </div>
  <form method="POST" action="/resource/:individualresource">
    <label for="cmt"><b>Tell us your thoughts</b></label>
    <input type="comment" placeholder="Leave comment here" name="cmt" required>
    <button type="submit">Comment</button>
  </form>
  <% for(let comment in comments) { %>
    <tr class="table-row">
      <td><%= comments[comment].message %></td>
      <td><%= comments[comment].date %></td>
      <td><%= comments[comment].user %></td> <br>
    </tr>
    <% } %>
  </div>
</body>

</html>
