<!DOCTYPE html>
<html lang="en">

<body>
  <%- include('partials/index') %>
  <div class="resource">
    <img class="paper" src="/images/paper.png">

    <div class="feature">

      <table class="table">
        <thead>
          <tr class="table-head">
            <th scope="col">Title</th>
            <th scope="col">URL</th>
            <th scope="col">Description</th>
            <th scope="col">Added By</th>


          </tr>
        </thead>
        <tbody>
          <% for(let resource in resources) { %>
          <tr class="table-row">
            <td><a href="/resource/<%=resources[resource].title %>"><%= resources[resource].title %></a></td>
            <td><a href="<%= resources[resource].url %>"><%=resources[resource].url %></a></td>
            <td><%= resources[resource].description %></td>
            <td><%= resources[resource].name %></td>
          </tr>
          <% } %>
      </table>
    </div>
    <% if (user) { %>
    <form method="POST" action="/resource/:individualresource/liked">
      <div class="likes">
        <button type="submit">Like</button>
    </form>

  </div>
  <form method="POST">
    <div class="rating">

        <button type="submit">1</button>
        <button type="submit">2</button>
        <button type="submit">3</button>
        <button type="submit">4</button>
        <button type="submit">5</button>

      <button type="submit">Leave Rating</button>
  </form>
  </div>
  <form method="POST" action="/resource/:individualresource">
    <div class="thoughts">
    <label class="thoughts" for="cmt"><b>Tell us your thoughts</b></label>
    </div>
    <input type="comment" placeholder="Leave comment here" name="cmt" required>
    <div class="comment-button">
    <button type="submit">Comment</button>
  </div>
  </form>
  <table class="table">
    <thead>
      <tr class="table-head">
        <th scope="col">Comment</th>
        <th scope="col">Date posted</th>
        <th scope="col">Written by</th>


      </tr>
    </thead>
    <tbody>
      <% for(let comment in comments) { %>
      <tr class="table-row">
        <td><%= comments[comment].message %></td>
        <td><%= comments[comment].date %></td>
        <td><%= comments[comment].user %></td> <br>
      </tr>
      <% } %>
  </table>
  </div>
  <% } else { %>
    <h1>Please login to Like,Rate or Comment!</h1>
    <% } %>
</body>

</html>
